/*form elements */
.sensors_submit {
clear: both;
}
/* reading page */
#sensors_row_1 {
width: 100%;
clear: both;
}
#sensors_row_2 {
width: 100%;
clear: both;
}
#sensors_row_3 {
width: 100%;
clear: both;
}
#sensors_row_4 {
width: 100%;
clear: both;
}
.sensors_col1 {
float:left;
width: 50%;
margin-bottom: -20px;
}
.sensors_col2 {
float:left;
width: 50%;
margin-bottom: -20px;
}
.sensors_col1 fieldset {
height:220px;

}
.sensors_col2 fieldset {
height:220px;
}
.sensors_colx {
float:left;
width: 100%;
margin-bottom: -20px;
}
.sensors_colx fieldset {
height:220px;
}
.sensors_col1 img {
display: block;
margin-left: auto;
margin-right: auto;
}

.sensors_col2 img {
display: block;
margin-left: auto;
margin-right: auto;
}


.reading_date {
width: 100%;
display: block;
text-align: center;
margin-left: auto;
margin-right: auto;
padding-top: 50px;
}
.hrule {
padding-top:10px;
padding-bottom:10px;
width: 100%;
clear: both;
}
/* bar charts */

#sensors_last24 {
height:200px;
width: 800px;
overflow: hidden;
margin-left: auto;
margin-right: auto;
}
#sensors_daily_avgs {
height:200px;
width: 850px;
overflow: hidden;
margin-left: auto;
margin-right: auto;
}

/* sensors tables */
#sensors_sensor_table {
display:block;
height:300px;
}
/* profiles css */
#sensors_dates {
height:200px;
margin-top: -20px;
}
#sensors_profile_start_date {
float: left;
width: 50%;
}
#sensors_profile_end_date {
float: right;
width: 50%;
}
#sensors_profile_start_date fieldset {
height:230px;
}
#sensors_profile_end_date fieldset {
height:230px;
}
#sensors_profile_end_date_later {
}

#sensors_profile_name_desc {
width: 100%;
}
#sensors_profile_stats fieldset {
height:240px;
}
#sensors_sensor_stats fieldset {
height:240px;
}
